  <div style="display:flex;min-height:100vh;background:#EDECEA;">
      <Layouts.admin_side_nav current_scope={@current_scope} active={:dashboard} />
      <div style="flex:1;margin-left:240px;display:flex;flex-direction:column;">
        <Layouts.admin_top_navbar page_title="Dashboard Overview" current_scope={@current_scope} />
        <main style="flex:1;padding:2rem;display:flex;flex-direction:column;gap:1.5rem;">
            Booking here
            </main>
       </div>
  </div>